/*General style*/
html {
  font-size: 18px;
}
body {
  font-family:'Ubuntu', sans-serif;
  font-size: 1rem;
  background-color: white;
}
.container {
  max-width: 1050px;
  margin: auto;
}
@media only screen and (max-width: 480px){
  .container {
    width: 100%;
  }
}

/*header styling*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 2.75rem;
  padding-left: 24px;
}
nav {
  text-align: right;
  flex-grow: 1;
}
.Colmar {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.Academy {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}
.desktop a {
  display: inline-block;
  padding-right: 16px;
  color: black;
  font-size: 1rem;
  cursor: auto;
  text-decoration: none;
}
.desktop a:hover {
  color: gray;
}
.desktop a:active {
  color: gray;
}
nav.mobile {
  display: none;
}
@media only screen and (max-width: 480px){
  nav.desktop {
    display: none;
  }
  .logo {
    display: none;
  }
  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }
}
/*banner section styling*/
.banner {
  background-color: lightgray;
  margin: 0 auto;
}
.banner .container {
  display: flex;
  justify-content: space-between;
}
.left-section {
  width: 60%;
  padding: 32px 24px;
}
.left-section img {
  width: 100%;

}
.right-section {
  width: 440px;
}
.tagline {
  height: auto;
  padding-left: 20px;
  margin-right: 60px;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: black;
}
h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
  padding-bottom: 24px;
}
h4 {
  font-size: 1.25rem;
  color: black;
  font-weight: 500;
  line-height: 1.45rem;
}
.tagline h4 {
  margin-top: 32px;
  margin-bottom:32px;
}
.tagline a {
  background-color: black;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
}
.tagline a:hover {
  background-color: gray;
}
.tagline a:active {
  background-color: gray;
}
@media only screen and (max-width: 480px){
  .banner .container {
    display: block;
  }
  .left-section {
    width: 100%;
    padding: 0;
  }
  .banner img {
    width: 100%;
  }
  .tagline a {
    width: 100%;
    background-color: gray;
    margin-right: auto;
  }
  .tagline a:hover {
    opacity: .7;
  }
  .tagline a:active {
    opacity: .7;
  }
}
/*Middle section styling*/
.mid-section{
  display: flex;
  justify-content: space-between;
}
.mid-section .container {
  display: flex;
  justify-content: space-between;
}
.mid-section .right-section {
  border-left: solid 1px lightgray;
}
.right-section {
  padding: 16px 0px 32px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.right-section img {
  width: 35%;
  padding: 16px;
}
.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  padding: 16px 1px 16px 0px;
  width: 100%;
}
.first {
  border-bottom: solid 1px lightgray;
}
.third {
  background-color: lightgray;
}
.content a {
  color: blue;
  text-decoration: none;
  font-size: .8rem;
  display: block;
  padding-top: 8px;
}
.content p {
  padding-top: 8px;
}
p {
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.2rem;
  color: gray;
}
.left-section p {
  padding: 24px 24px 24px 0px;
}
.left-section h2 {
  padding-top: 32px;
}
span {
  font-size: .8rem;
  color: black;
  line-height: .95rem;
}
.box img.mobile {
  display: none;
}
.third .mobile {
  display: none;
}
@media only screen and (max-width: 480px){
  .mid-section .container {
    display: block;
  }
  .mid-section .left-section {
    display: none;
  }
  .mid-section .right-section {
    border-left: 0px;
    padding: 16px 16px 32px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .third {
    background-color: white;
  }
  .second {
    border-top: 0px;
    border-bottom: 0px;
    margin: 16px 0px;
  }
  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;flex-direction: column;
  }
  .box img.desktop {
    display: none;
  }
  .box img.mobile {
    display: flex;
    width: 100%;
  }
  .third h6 {
    display: none;
  }
  .third .mobile {
    display: flex;
  }
  .first {
    border: 0;
  }
  .content {
    padding: 0px;
    width: 100%;
    margin-top: 16px;
  }

}
/*Lower Section*/

.lower-section {
  background-color: lightgray;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.heading {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.course-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}
.course {
  background-color: white;
  height: 16rem;
  width: 32%;
  margin-bottom: 20px;
}
.course img {
  width: 100%;
}
.course-content span {
  font-size: .8rem;
  color: gray;
}
.course-content p {
  font-size: .8rem;
  color: gray;
  padding-top: .5rem;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.course-content {
  padding:16px 16px 24px 16px;
}
h6 {
  font-size: 1.10rem;
  font-weight: 500;
}
.course h6 {
padding-bottom: 1rem;
}
@media only screen and (max-width: 480px){
  .course img {
    display: none;
}
  .course-content span {
    display: none;
  }
  .course-content p {
    display: none;
  }
  .course-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
  .course {
    width: 100%;
    height: 3rem;
    background-color: lightgray;
  }
  .lower-section {
    background-color: white;
  }
}
/*thesis section*/
.thesis {
  padding: 32px 24px;
}
.thesis .container {
  display: flex;
  justify-content: space-between;
}
.thesis video {
  width: 100%;
}
.thesis .right-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.first-lecture {
  background-color: lightgray;
}
@media only screen and (max-width: 480px){
  .thesis .right-section {
    display: none;
  }
  .thesis .left-section h2 {
    display: none;
  }
  .thesis .left-section p {
    display: none;
  }
  video {
    width: 100%;
  }
}
/*Footer Styling*/

footer {
  border-top: 1px solid lightgray;
  background-color: white;
  height: 3.5rem;
  color:lightgray;
  font-size: .8rem;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .75rem;
}
.footer-nav a {
  display: inline-block;
  padding-right: 16px;
  color: black;
  cursor:auto;
  text-decoration: none;
}
.footer-nav a:hover {
  color:gray;
}
.footer-nav a:active {
  color: gray;
}
@media only screen and (max-width: 480px){
  .footer-nav {
    display: none;
  }
}
