/*General style*/
html {
  font-size: 18px;
}
.container {
  max-width: 1050px;
  margin: auto;
}
body {
  font-family:'Ubuntu',sans-serif;
  font-size: 1rem;
}

/*header styling*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 2.75rem;
  padding-left: 24px;
}
nav {
  text-align: right;
  flex-grow: 1;
}
.Colmar {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.Academy {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}
.desktop a {
  display: inline-block;
  padding-right: 16px;
  font-size: 1rem;
  cursor: auto;
  text-decoration: none;
  color: black;
}
/*banner section styling*/
.banner {
  background-color: lightgray;
  margin: 0 auto;
}
.banner .container {
  display: flex;
  justify-content: space-between;
}
.left-section {
  width: 60%;
  padding: 32px 24px;
}
.left-section img {
  width: 100%;

}
.right-section {
  width: 440px;
}
.tagline {
  height: auto;
  padding-left: 20px;
  margin-right: 60px;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: black;
}
h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
  padding-bottom: 24px;
}
h4 {
  font-size: 1.25rem;
  color: black;
  font-weight: 500;
  line-height: 1.45rem;
}
.tagline h4 {
  margin-top: 18px;
  margin-bottom:18px;
}
.tagline a {
  background-color: black;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
}

/*Middle section styling*/
.mid-section{
  display: flex;
  justify-content: space-between;
}
.mid-section .container {
  display: flex;
  justify-content: space-between;
}

.right-section {
  border-left: 1px solid lightgray;
  padding: 16px 0px 32px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.right-section img {
  width: 35%;
  padding: 16px;
}
.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  padding: 16px 1px 16px 0px;
  width: 100%;
}
.third {
  background-color: lightgray;
}
.content a {
  color: blue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding-top: .9rem;
}
.content p {
  padding-top: 2px;

}
p {
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.2rem;
  color: gray;
  border: solid 2px red;
}
.left-section p {
  padding: 24px 24px 24px 0px;
}
.left-section h2 {
  padding-top: 32px;
}
/*Lower Section*/

.lower-section {
  background-color: lightgray;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.heading {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.course-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}
.course {
  background-color: white;
  height: 16rem;
  width: 32%;
  margin-bottom: 20px;
  border: solid 2px green;
}
.course img {
  width: 100%;
}
.course-content span {
  font-size: .8rem;
  color: gray;
  border: solid 1px blue;
}
.course h6 {
padding: 1rem;
}
h6 {
  font-size: 1.10rem;
  font-weight: 500;
}
/*thesis section*/
.thesis {
  padding: 32px 24px;
}
.thesis .container {
  display: flex;
  justify-content: space-between;
}
.thesis video {
  width: 100%;
}
.thesis .right-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.first-lecture {
  background-color: lightgray;
}
/*Footer Styling*/

footer {
  border-top: 1px solid lightgray;
  background-color: white;
  height: 3.5rem;

}
